* {
    margin : 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #eee;
    font-family: 'sans-serif', 'Tahoma', 'Helvetica', 'Helvetica Neue', 'Malgun Gothic';
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 52px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    background-color: #fff;
}
header h1 {
    height: 16px;
    padding: 18px;
    color: #333;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.05em;
}
main {
    margin: 68px 16px 16px 16px;
    text-align: left;
}
main section {
    margin-bottom: 24px;
    padding: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    border-radius: 14px;
    background-color: #fff;
}
