main h2 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -0.05em;
}
main blockquote {
    padding: 11px 6%;
    color: #f36a6a;
    font-size: 11px;
    text-align: center;
    line-height: 17px;
    letter-spacing: -0.05em;
    word-spacing: -0.1em;
}
main table {
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
}
main table th {
    width: 90px;
    padding-top: 14px;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    vertical-align: top;
}
main table td {
    padding-top: 12px;
    padding-bottom: 6px;
    font-size: 0;
}
main table th, main table td {
    border-top: 1px solid #eee;
}
main table tr:last-child th, main table tr:last-child td {
    padding-bottom: 0;
}
main table td button {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    color: #888;
    font-size: 11px;
}
main table td button[data-read=y] {
    color: #fff;
    border-color: #f36a6a;
    background-color: #f36a6a;
}
/*
main table tr:nth-of-type(6n+1) button[data-read=y] {
    border-color: #f36a6a;
    background-color: #f36a6a;
}
main table tr:nth-of-type(6n+2) button[data-read=y] {
    border-color: #ff8833;
    background-color: #ff8833;
}
main table tr:nth-of-type(6n+3) button[data-read=y] {
    border-color: #ffc40f;
    background-color: #ffc40f;
}
main table tr:nth-of-type(6n+4) button[data-read=y] {
    border-color: #44cc88;
    background-color: #44cc88;
}
main table tr:nth-of-type(6n+5) button[data-read=y] {
    border-color: #44aaee;
    background-color: #44aaee;
}
main table tr:nth-of-type(6n+6) button[data-read=y] {
    border-color: #cc77dd;
    background-color: #cc77dd;
}
*/
main #btn_init label {
    font-weight: normal;
    font-size: 13px;
    line-height: 37px;
}
main #btn_init button {
    float: right;
    padding: 10px;
    border: 0;
    border-radius: 4px;
    background-color: #E67E22;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
}
main #stats {}
main #stats canvas {
    float: left;
    margin-right: 15px;
}
main #stats h3 {
    margin-top: 3px;
    color: #888;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.02em;
}
main #stats #stat_count {
    color: #333;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -0.03em;
}
main #stats #stat_rate {
    color: #888;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.03em;
    word-spacing: -0.08em;
}
